@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');


.home-container > h1{
    text-align: center;
    font-size: 3.2rem;
    font-family: 'Rajdhani', sans-serif;
}